*{
    padding: 0;
    margin: 0;
}

.container{
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */
    width: 100%;
    
    background: brown;
}

.catalogue{


    margin: 0 auto;

    display: flex;
    flex-direction: row;
    width: 90%;
    background: greenyellow;
}

.movie-container{
    width: 300px;
    height: 550px;

    margin: 30px 30px;

    background: red;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 30px;

}

.banner-container{
    display: none;
}

.image-container{
    width: 90%;
    height: 40%;
    background: blueviolet;

    border-radius: 30px 30px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.image{
    max-width: 100%;
    max-height: 100%;
}

.info-container{
    width: 90%;
    height: 55%;
    
    background: goldenrod;

    border-radius: 0px 0px 30px 30px;
}