*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.container-catalogue{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(143, 142, 142);
    padding: 10px 0;
    margin-top: 70px;
}

.catalogue{
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 75%;
    background: white;
    gap: 20px;
    padding: 20px 0;
    border-radius: 20px
}

.movie-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 350px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
}

/*
.movie-content{
    border: 2px solid black;
    width: 95%;
    height: 95%;
    border-radius: 30px;
}
*/

.banner-container{
    display: none;
}

/* 
.image-container, .info-container{
    width: 95%; 
}


.image-container{
    height: 90%;
    border-radius: 30px;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*/

.image{
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

/*
.info-container{
    /* width: 90%; 
    height: 40%;
    background: rgb(194, 192, 189);
    border-radius: 0px 0px 30px 30px;
}
*/

.info-block{
    margin: 0 auto;
    width: 95%;
    height: 95%;
    /*background: yellow;*/
}

.box-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.title{
    text-align: center;
    font-family: "Jost", sans-serif; 
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3rem;
}

.box-info{
    background: green;
    height: 60%;
}

.container-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    /*background: lightcoral;*/
    margin: 5px 0;
    height: 40px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
    background: rgb(39, 89, 163);
    color: white;
    border-radius: 10px;
}

@media (max-width: 600px) {

    .container-catalogue{
        padding: 10px;
    }

    .catalogue{
        max-width: 100%;
    }

    .movie-container{
        width: 150px;
        height: auto;
        padding: 10px;
    }

    /*
    .image-container{
         width: 90%;
        height: 40%;
            background: blueviolet;
    
        border-radius: 30px 30px 0px 0px;
    
        border-bottom: 4px solid black;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    */
    
    .info-container{
        /* width: 90%; */
        height: 60%;
        background: rgb(194, 192, 189);
        border-radius: 0px 0px 30px 30px;
    }
    
}