<!--
<p>list-movies works!</p>
-->

<div class="container">
    <div class="catalogue" *ngFor="let movie of moviesList">
        <article class="movie-container">
            <!--
            <div class="banner-container">
                <h2> {{movie.movie_banner}} </h2>
            </div>
            -->
            <div class="image-container">
                <img class="image" src='{{movie.image}}'>
            </div>
            <div class="info-container">
                <h2 class="title"> {{movie.title}} </h2>
                <div class="titles-container">
                    <p class="other-title"> {{movie.original_title}} </p>
                    <p class="other-title"> {{movie.original_title_romanised}} </p>
                </div>
                <!-- <p> {{movie.description}} </p> -->
                <p> {{movie.director}} </p>
                <p> {{movie.producer}} </p>
                <p class="year"> {{movie.release_date}} </p>
                <p class="time"> {{movie.running_time}} </p>
                <p class="score"> {{movie.rt_score}} </p>
                <!-- <p> {{movie.id}} </p> -->
            </div>
        </article>
        <!--
        <h2> {{movie.people}} </h2>
        <h2> {{movie.species}} </h2>
        <h2> {{movie.locations}} </h2>
        <h2> {{movie.vehicles}} </h2>
        <h2> {{movie.url}} </h2>
        -->
    </div>
</div>