*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: rgb(48, 47, 47);
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.hero,
.container-hero-info{
    display: flex;
    color:white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background: rgb(27, 26, 26);
}

.hero-info{
    width: 25%;
    height: 100%;
}

.container-img-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
}

.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.hero-info h1{
    font-size: 40px;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}

.hero-info h1::before{
    content: '';
    border: 2px solid rgb(255, 255, 255);
}

.hero-info p span{
    font-weight: 600;
}

.container{
    width: 100%;
    background: red;
    height: 70vh;
}

.welcome{
    width: 100%;
    height: 90%;
    background: burlywood;
}

.img{
    width: 100%;
    
}

.container-hero-info{
    /*background: blue;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    /*background: lightgreen;*/
}

.item-info{
    border: 2px solid white;
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    padding: 20px 20px;
}

.container-hero-info h2{
    color: white;
    text-align: center;
    font-size: 30px;
}

.container-hero-info p{
    color: white;
}

.container-img-item,
.item-info p{
    height: 40%;
}



@media (max-width: 576px){

    main{
        padding: 20px 10px;
    }

    .hero,
    .container-hero-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        width: 100%;
        padding: 10px;
    }
    
    .hero-info,
    .container-img{
        width: 100%;
    }


    .hero-info h1{
        font-size: 30px;
    }


    .container-hero-info h2{
        font-size: 20px;
    }

    .container-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 80%;
        /*background: lightgreen;*/
    }

    .item-info{
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 20px;
    
        /*height: 250px;*/
    }

    .container-img-item{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}