
<main class="flex-row-center">
    <section class="hero">
        <div class="hero-info flex-column-start">
            <h1 class="">Descubre nuevas peliculas para ti</h1>
            <p>
                <span>Studio Ghibli App</span> es una plataforma de 
                un catalogo de las peliculas mas reconocidas y exitosas, 
                donde aporta informacion de cada una de ellas para 
                entusiastas del cine.
            </p>
        </div>
        <div class="container-img">
            <img class="img" src="https://files.lafm.com.co/assets/public/styles/img_node_706x392/public/2022-07/uncharted.jpg.webp?VersionId=89GRI5GE8vUyTOgK8KFAO_VQrh3RhGY_&itok=hu-W0paq">
        </div>
    </section>
</main>

