
<main class="">
    <section class="hero">
        <div class="hero-info">
            <h1 class="">Descubre nuevas peliculas para ti</h1>
            <p>
                <span>Studio Ghibli App</span> es una plataforma de 
                un catalogo de las peliculas mas reconocidas y exitosas, 
                donde aporta informacion de cada una de ellas para 
                entusiastas del cine.
            </p>
        </div>
        <div class="container-img-hero">
            <img class="img" src="https://files.lafm.com.co/assets/public/styles/img_node_706x392/public/2022-07/uncharted.jpg.webp?VersionId=89GRI5GE8vUyTOgK8KFAO_VQrh3RhGY_&itok=hu-W0paq">
        </div>
    </section>

    <section class="container-hero-info">
        <h2>Descubre, revive y disfruta películas</h2>
        <div class="container-items">
            <div class="item-info">
                <div class="container-img-item">
                    <img class="img" src="https://cdn-icons-png.flaticon.com/512/105/105503.png" alt="Logo de descubre">
                </div>
                <p>
                    Studio Ghibli posee una API con una base de datos de muchas peliculas exitosas, clásicas y mas reconocidas del cine del cine retro.
                </p>
            </div>

            <div class="item-info">
                <div class="container-img-item">
                    <img class="img" src="https://cdn0.iconfinder.com/data/icons/arrows-1-5/128/Refresh-Revive-Restore-Arrow-Loop-Refreshing-Rotate-512.png" alt="Logo de revive">
                </div>
                <p>
                    Studio Ghibli posee una API con una base de datos de muchas peliculas exitosas, clásicas y mas reconocidas del cine del cine retro.
                </p>
            </div>

            <div class="item-info">
                <div class="container-img-item">
                    <img class="img" src="https://static.vecteezy.com/system/resources/previews/004/180/841/original/eating-ice-cream-together-black-glyph-icon-increase-family-bonding-over-food-bringing-parent-and-child-together-enjoy-frozen-dessert-silhouette-symbol-on-white-space-isolated-illustration-vector.jpg" alt="Logo de disfruta">
                </div>
                <p>
                    Studio Ghibli posee una API con una base de datos de muchas peliculas exitosas, clásicas y mas reconocidas del cine del cine retro.
                </p>
            </div>
        </div>
    </section>
</main>

