*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: rgb(48, 47, 47);
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: #aaa;
    position: relative;
    height: 500px;
    background: rgb(27, 26, 26);
    background: pink;
}

.flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.hero, 
.container-hero-info{
    display: flex;
    color:white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 50px;
    background: rgb(27, 26, 26);
}


.hero-info,
.container-img-hero{
    width: 50%;
    height: 100%;
}

.container-img-hero{
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.hero-info h1{
    font-size: 40px;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}

.hero-info h1::before{
    content: '';
    border: 2px solid rgb(255, 255, 255);
}

.hero-info p{
    width: 90%;
}

.hero-info p span{
    font-weight: 600;
}

.container{
    width: 100%;
    background: red;
    height: 70vh;
}

.welcome{
    width: 100%;
    height: 90%;
    background: burlywood;
}

.img{
    max-width: 100%;
    max-height: 100%;
}

.container-hero-info{
    /*background: blue;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    /*background: lightgreen;*/
}

.item-info{
    border: 2px solid white;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

.container-hero-info h2{
    color: white;
    text-align: center;
    font-size: 30px;
}

.container-hero-info p{
    color: white;
}

.container-img-item,
.item-info p{
    height: 40%;
}



@media (max-width: 500px){

    main{
        padding: 20px 10px;
    }


    section{
        height: auto;
    }

    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .hero-info,
    .container-img{
        width: 90%;
        height: 50%;
    }

    .hero-info h1{
        font-size: 35px;
    }

    .container-img-hero{
        background: red;
        width: 100%;
    }



    .container-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 80%;
        /*background: lightgreen;*/
    }

    
}