*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: black;

    z-index: 1;
}

.container-logo{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-logo a{
    display: block;
    height: 90%;
    width: 100%;
}

.logo{
    max-height: 100%;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

ul{
    display: flex;
    gap: 20px;
}

ul a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    font-family: "Merriweather Sans", sans-serif;
}

@media (max-width: 500px){


    header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    ul a{
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        font-family: "Merriweather Sans", sans-serif;
    }

}