*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

header{
    height: 70px;
    position: fixed;
    width: 100%;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 70px;
    z-index: 1;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    gap: 20px;
}

ul a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}